<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.instagram.barcelona" />
        <package android:name="org.lsposed.manager" />
    </queries>

    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:icon="@mipmap/ic_launcher"
        android:label="Threads Enhancer"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThreadsDownloader">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="@string/module_description" />
        <meta-data android:name="xposedminversion" android:value="82" />

        <provider
            android:name=".SettingsProvider"
            android:authorities="br.gov.bomsucesso.threadsdownloader.settings"
            android:exported="true"
            android:grantUriPermissions="false" />

        <receiver
            android:name=".CapturedMediaReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="br.gov.bomsucesso.threadsdownloader.MEDIA_CAPTURED" />
                <action android:name="br.gov.bomsucesso.threadsdownloader.HOOK_ACTIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
